.form {
  background: lightslategray;
  border-radius: 20px;
  width: 60%;
  margin: 0 auto;
  padding: 25px 0;
}

.form, .input__label {
  display: flex;
  flex-direction: column;
}

.input {
  display: flex;
  flex-direction: column;
  position: relative;

  &__input {
    padding: 5px;
    margin-top: 5px;
  }

  &__err {
    font-size: 14px;
    margin: 5px auto;
    width: 70%;
    color: red;
    background: #bebebe;
    padding: 5px;
    border-radius: 5px;
  }

  &__label {
    margin: 15px auto 0;
    width: 70%;
  }
}

.submit-btn {
  padding: 5px 0;
  margin: 30px auto 15px;
  width: 70%;
}

textarea{
  height: 100px;
}